<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 별명 설정을 위해서 -->
	<typeAliases>
		<!-- 
			하는이유는
			sql에 as 쓰는거와 비슷함
			typeAlias를typeAliases안에 여러게 써도됨  
		-->
		<!-- model에 설정된 class(getter,setter)를 편하게 사용하기위해 -->
		<!-- 
			type -> 원래 class이름
			alias -> 별명 
			<typeAlias 
				type="com.example.site.model.UserVO"
				alias="uservo"
			/>
		<typeAlias type="com.krahs123.wathis.model."/>
		-->
		<typeAlias type="com.krahs123.wathis.model.AuditVO" alias="auditvo"/>
		<typeAlias type="com.krahs123.wathis.model.ArticleVO" alias="articlevo"/>
		<typeAlias type="com.krahs123.wathis.model.BoardVO" alias="boardvo"/>
		<typeAlias type="com.krahs123.wathis.model.CategoryVO" alias="categoryvo"/>
		<typeAlias type="com.krahs123.wathis.model.CommentVO" alias="commentvo"/>
		<typeAlias type="com.krahs123.wathis.model.MakerInfoVO" alias="markerinfovo"/>
		<typeAlias type="com.krahs123.wathis.model.MemberVO" alias="membervo"/>
		<typeAlias type="com.krahs123.wathis.model.MemberAddrVO" alias="memberaddrvo"/>
		<typeAlias type="com.krahs123.wathis.model.MenuVO" alias="menuvo"/>
		<typeAlias type="com.krahs123.wathis.model.OrderDetailVO" alias="orderdetailvo"/>
		<typeAlias type="com.krahs123.wathis.model.OrderVO" alias="ordervo"/>
		<typeAlias type="com.krahs123.wathis.model.PopupVO" alias="popupvo"/>
		<typeAlias type="com.krahs123.wathis.model.ProductVO" alias="productvo"/>
		<typeAlias type="com.krahs123.wathis.model.ProductCommentVO" alias="productcommentvo"/>
		<typeAlias type="com.krahs123.wathis.model.ProductNoticeVO" alias="productnoticevo"/>
		<typeAlias type="com.krahs123.wathis.model.ProductOptionVO" alias="productoptionvo"/>
		<typeAlias type="com.krahs123.wathis.model.SiteConfigVO" alias="siteconfigvo"/>
		<typeAlias type="com.krahs123.wathis.model.MailVO" alias="mailvo"/>
		<typeAlias type="com.krahs123.wathis.model.SchedulerVO" alias="schedulervo"/>
		
	</typeAliases>
</configuration>