@charset 'utf-8';

#container{
    display: flex;
}
#nav{
    flex-basis: 16%;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 0px 1px 5px #ccc;
    
}
.nav-top{
    width: 100%;
    height: 55px;
    line-height: 55px;
}
#main{
    flex-basis: 84%;
    height: 100vh;
}
/*좌측 메뉴*/
.nav-wrap{
    display: flex;   
}
.icon,.icon-arrow{
    flex-basis: 20%;
}
.icon-title{
    flex-basis: 60%;
}
.icon-title:hover a{
    color: #fe5e71;
    transition: .5s;
}
/*우측메뉴*/
.main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 0 2%;
    box-shadow: 0px 1px 5px #ccc;
}
.info-img img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: bottom;
}
.info-text{
    line-height: 30px;
}
.msg-cnt::after{
    position: absolute;
    content: attr(data-count);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fe5e71;
    color: #fff;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    font-size: 12px;
    transform: translate(-5px, -10px);
}
.main-main{
    padding: 2%;   
    width: 100%;
    height: calc(100vh - 55px);
    overflow-y: auto;
}
.main-content{
    width: 100%;
    height: auto;
}
.main-top-box-wrap,.search-wrap,.title-wrap{
    display: flex;
    justify-content: space-between;
}
.main-top-box{
    flex-basis: 24%;
    width: 100%;
    height: 150px;
    padding: 30px;
}
.box-top{
    height: 75px;
}
.box-bottom{
    height: 75px;
}
.item-title{
    width: 70%;
}
.item-icon{
    width: 30%;
}
/*users paging design*/
.member-list table tr:first-child{
    background-color: #2962ff;

}
.member-page-number{
    background-color: #2962ff;
    color: #fff;
    border: 1px solid #2962ff;
}
.member-page-number:hover{
    color: #2962ff;
    background-color: transparent;
    transition: .5s;
}
.page-number.on,.page-number.on:hover{
    border: 1px solid #ccc;
    color:#fff;
    background-color: #ccc;
}


/*상세보기 테이블*/
.w-15{
    width: 15%;
}
.w-35{
    width: 35%;
}
.w-85{
    width: 85%;
}