@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');



body {
    font-family: 'Noto Sans KR', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 큰 박스 부분 */
.head-con {
    width: 100%;
    height: 56px;
    line-height: 56px;
    border: 2px solid rgba(0, 0, 0, .1);
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    background-color: #fff;

}

.mypage-container {
    display: flex;
    justify-content: space-between;
}

.menu-box {
    /* flex-basis: 15%; */
    /* background-color: firebrick; */
    border: 1px solid  rgba(187, 184, 184, 0.3);

}

.box2-funReady {
    width: 100%;
    /* background-color: forestgreen; */
    padding: 40px 35px;
    overflow-y: scroll;
    height: calc(100vh - 56px);
}


/* header 부분 */
.head-con .logo {
    flex-basis: 20%;
    /* background-color: turquoise; */
    text-align: center;
}



.head-userid {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
}

.userlogo {
    width: 40px;
    height: 40px;
    line-height: 40px;

    border-radius: 50px;
    text-align: center;
    background-color: teal;
    color: #fff;
    vertical-align: baseline;
}

.userlogo i {
   height: 30px;
    line-height: 30px;

}

.username {
    margin-left: 10px;
}

.head-close {
    flex-basis: 30%;
    display: flex;
    /* background-color: teal; */
    justify-content: flex-end;
    align-items: center;
    display: flex-end;
}

.head-show {
    width: 100px;
    height: 35px;
    list-style: 35px;
    padding: 0 16px;

    border: none;
    border: 2px solid #00b2b2;
    border-collapse: collapse;
    border-radius: 50px;

    color: #6ac5b8;
    font-size: 15px;
    font-weight: 700;
    background-color: transparent;
    transition: all 0.3s;
    cursor: pointer;
}

.head-show:hover {
    color: #fff;
    background-color: #00b2b2;
}

.head-out {
    width: 75px;
    height: 35px;
    list-style: 35px;
    font-size: 15px;
    font-weight: 700;
    color: #6ac5b8;

    border: 2px solid #00b2b2;
    border-radius: 50px;
    border: none;
    border-collapse: collapse;

    background-color: transparent;
}

/* 리워드 메뉴 부분 */
/* .menu-box {
    background-color: khaki;

} */
/* 프로젝트 화살 바꾸는 부분 */
.mypage-li-menu .fa-angle-down {
    transition: 0.3s;
}

.mypage-li-menu.active .fa-angle-down {
    transform: rotate(-180deg);
}

.box1-menu {
    width: 280px;
    height: auto;
    padding: 24px 24px;
    background: linear-gradient(#8fcebb, #85cfd3);
    /* overflow: hidden; */
}



.reward-box-btn {
    /* background-color: tomato; */

    margin-bottom: 10px;
}



.box-btn1 {
    width: 50px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 10px;
    padding: 1px 4px;
    background-color: transparent;
    outline: none;
}

.box-btn2 {
    width: 100px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 10px;
    padding: 1px 4px;
    background-color: transparent;
    margin-left: 4px;
    outline: none;
}

.reward-box h2 {

    color: #fff;
    font-size: 17px;
    margin-bottom: 10px;
}

/* .reward-hide{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    display: none;
} */
.jq-box {
    /* background-color: tomato; */
    list-style: none;
    color: #fff;
    font-size: 13px;
}

.jq-box ul li {
    list-style: none;
    text-decoration: none;
}

/* .reward-box-num ul {
    display: none;
} */

.reward-box-num {
    margin-bottom: 10px;

}

.reward-box-num a {
    color: #fff;
    text-decoration: none;
}

.reward-box-num i {
    color: #fff;
    list-style: none;
    margin-left: 129px;
    font-size: 20px;


}

.reward-box p {
    font-size: 13px;
    color: #fff;

}

.reward-box-url {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 12px;

}

.menu-text1 {
    padding: 16px 24px;
    position: relative;
    /* background-color: lawngreen; */

}

.menu-text1 a {
    text-decoration: none;
    /* background-color: lightcoral; */
    font-size: 13px;
    font-weight: 700;
    color: #000;
}


.menu-text1 i {
    position: absolute;
    top: 20px;
    right: 24px;
    color: rgba(0, 0, 0, .8);
    font-size: 20px;

}

.menu-text1 ul {
    /* padding-left: 44px; */
    display: none;
    background-color: rgba(235, 235, 235, 0.15);

}

.menu-text1 ul li {
    list-style: none;
    padding: 16px 24px;
}

.menu-text2 {
    font-size: 13px;
    position: relative;
    padding: 16px 24px;

}

.menu-text2 a {
    text-decoration: none;
    /* background-color: lightcoral; */
    font-size: 13px;
    font-weight: 700;
    color: #000;
}

.menu-text2 i {

    position: absolute;
    top: 20px;
    right: 24px;
    color: rgba(0, 0, 0, .8);
    font-size: 20px;
}

/* 기본 정보 박스 -> flex-basic-box */
/* .flex-basic-adver {
    display: flex;
    justify-content: space-around;
} */

.basic-box {
    /* background-color: royalblue; */
    width: 100%;
}
/* .-adver-box {
    background-color: rosybrown;
    flex-basis: 20%;
    margin-right: 9%;
} */


.basic-box-one h1 {
    font-size: 35px;

}



/* .ba-pro-img{
    position: relative;
} */



.ba-pro-img input::after{
content: "등록하기";
width: 75px;
height: 50px;
line-height: 50px;
background-color: #90949c;
/* display: inline-block; */
position: absolute;
top: 47px;
left: 0;
text-align: center;
font-weight: 700;
color: #fff;
border-radius: 3px;
}

::placeholder{
    font-size: 17px;
    color:#ccc
}



/* align */
.text-ali1{
    text-align: center;
}


/* box-설정 */
.box-li1{line-height: 1.33;}
.box-ra1{border-radius: 5px;}

/* display type */
.di-la1 { display: inline-block;}
.di-la2 { display: block;}


/* 박스 라인 */
.fon-bor1 { border: 1px solid #ccc;}


/* 글자 사이즈 */

.fon-siz5 { font-size: 20px;}



.mar-right1 { margin-right: 10px;}
.mar-right2 { margin-right: 12%;}
.mar-right3 { margin-right: 12%;}
.mar-right4 { margin-right: 3px;}
.mar-right5 { margin-right: 6px;}

.mar-left1 { margin-left: 20px;}
.mar-left2 { margin-left: 15px;}
.mar-left3 { margin-left: 13px;}
.mar-left4 { margin-left: 10px;}
.mar-left5 { margin-left: 5px;}
.mar-left6 { margin-left: 10px;}

/* 가로 값 */
.wid1 { width: 100%;}
.wid2 { width: 95%;}
.wid3 { width: 90%;}
.wid4 { width: 65%;}
.wid5 { width: 20%;}
.wid6 { width: 10%;}
.wid7 { width: 8%;}
.wid8 { width: 7%;}
.wid9 { width: 5%;}
/* .wid6 { width: 1000px;} */

/* 세로 값 */
.hei1 { height: 48px;}
.hei2 { height: 48px;}
.hei3 { height: 48px;}

/* 손가락 모양 */
.cu-poin{ cursor: pointer;}

/* 목표 금액 원 박스 */
.money-box{
    position: relative;
}


.file-box label { 
    display: inline-block; 
    padding: .65em 2.4em; 
    color: #fff; 
    font-size: 17px; 
    line-height: normal; 
    vertical-align: middle; 
    background-color: #90949c; 
    cursor: pointer; 
    border: 1px solid #ebebeb; 
    border-bottom-color: #e2e2e2; 
    border-radius: .25em; 
    vertical-align: middle;
    transition: 0.4s;
}

/* 등록하기 버튼 */
.file-box label:hover{
    background-color: #55585d;
    transition: 0.4s;
}
.file-box input[type="file"] { /* 파일 필드 숨기기  */ 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
}

/* 기본 요건 박스 */
/* .requirements-box {
    background-color: royalblue;
    flex-basis: 60%;
}

.requirements-head {
    font-size: 13px;
    margin-bottom: 20px;
    /* background-color: royalblue; */
/* }  */

.re-head1 {
    color: #90949c;
    font-weight: 600;
    /* background-color: burlywood; */
}

.requirements-head i {
    font-weight: 600;
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
}

/* 광고 및 설명 부분 */

.flex-box{
    display: flex;
    /* justify-content:space-between; */
    justify-content: space-between;
}

.flex-basic1{
    display: flex;
}
.flex-basic2{
    display: flex;
    justify-content:space-between;
    position: relative;
   
}

/* textarea 박스*/
textarea{
    width: 100%;
    /* resize: none; */
    resize: vertical;
    padding: 15px;
}
.btn-save{
    width: 65%;
text-align: center;
}
.btn-save .btn-end{
    margin-top: 30px;
    width: 30%;
    font-weight: 700;
    /* height: 100px; */
    background-color: #00c4c4;
    color: #fff;
    outline: none;
    height: 48px;
    padding: 1.2px 24px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    border-collapse: collapse;
    cursor: pointer;
    
}


#q1-guide h4 a{
    cursor: pointer;
}

.guid-icon{
    width: 20px;
    height: 20px;
    background-color: #00b2b2;
    font-size: 200px;
}



/* 가이드 박스 아이콘 */
.ba-adver-guide{
    height:107px;
    line-height: 107px;
    /* position: relative; */
    
    padding: 10px;
     background-color: #8fcebb;
    transition: 0.5s;
    /* border: 3px solid #00c4c4; */
    /* margin-left: 12%; */
    margin-left:3%;
    
}
.ba-adver-guide:hover{
    /* background: linear-gradient(#8fcebb, #85cfd3); */
    
    
    background-color:  #1bb8c0;
    transition: 0.5s;
    
}
.guide-box{
    height: 90px;
    line-height: 90px;
    vertical-align: middle;
   
    border-radius: 50px;
    text-align: center;
    
    
}


.guide-box i{
    line-height: 60px;
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
    color: #fff;
}

.guide-text{
    vertical-align: middle;
    display: inline-block;
}
/* 라디오 버튼 스타일 */

.ra-size{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: none;
    border: 1px solid  #90949c;
    vertical-align: middle;
    color:#00b2b2;
    /* background-color: transparent; */
}


/* 업로드 파일 버튼 */
.file-box-oth label { 
    display: inline-block; 
    padding: .65em 2.4em; 
    color: #fff;
    background-color: #00c4c4;
    font-size: 17px; 
    line-height: normal; 
    vertical-align: middle; 
    cursor: pointer; 
    /* border: 1px solid #ebebeb;  */
    border-bottom-color: #e2e2e2; 
    border-radius: .25em; 
    vertical-align: middle;
    transition: 0.4s;
    border: 3px solid #00c4c4;
    
}


.file-box-oth label:hover{
    background-color: #fff; 
    transition: 0.4s;
    color: #00c4c4; 
}
.file-box-oth input[type="file"] { /* 파일 필드 숨기기  */ 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0; 
    display: none;
}