<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.AuditMapper">
	<select id="getAll" resultType="auditvo">
		SELECT 
			id,
			member_id,
			subject,
			writer,
			content,
			hit,
			fileName,
			fileOriName,
			fileUrl,
			ref,
			re_step,
			re_level,
			reg_date

		FROM
			tb_audit
		ORDER BY id DESC
	</select>
	<select id="getCount" resultType="int">
	
	</select>
	<select id="getList" resultType="auditvo">
	
	</select>
	<select id="getOne" resultType="auditvo">
	
	</select>
	<insert id="setItem">

		INSERT INTO tb_audit SET
			id=#{id},
			member_id=#{member_id},
			subject=#{subject},
			writer=#{writer},
			content=#{content},
			hit=#{hit},
			fileName=#{fileName},
			fileOriName=#{fileOriName},
			fileUrl=#{fileUrl},
			ref=#{ref},
			re_step=#{re_step},
			re_level=#{re_level},
			reg_date=#{reg_date}

	</insert>
	<update id="updateItem">
		UPDATE SET tb_audit
			id=#{id},
			member_id=#{member_id},
			subject=#{subject},
			writer=#{writer},
			content=#{content},
			hit=#{hit},
			fileName=#{fileName},
			fileOriName=#{fileOriName},
			fileUrl=#{fileUrl},
			ref=#{ref},
			re_step=#{re_step},
			re_level=#{re_level},
			reg_date=#{reg_date}
		WHERE id=#{id}

	</update>
	<delete id="deleteItem">
		DELETE FROM tb_audit
		WHERE id=#{id}
	</delete>
</mapper>