<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardMapper">
	<select id="getAll" resultType="boardvo">
	
	</select>
	<select id="getCount" resultType="int">
	
	</select>
	<select id="getList" resultType="boardvo">
	
	</select>
	<select id="getOne" resultType="boardvo">
	
	</select>
	<insert id="setItem">
	
	</insert>
	<update id="updateItem">
	
	</update>
	<delete id="deleteItem">
	
	</delete>

</mapper>