<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardMapper">
	
	<sql id="includeList">
		WHERE
		<choose>
			<when test="searchOpt == 'all'">
			boardCode like CONCAT('%',#{words},'%') or boardName like CONCAT('%',#{words},'%') or boardCode like CONCAT('%',#{words},'%')
			</when>
			<otherwise>
			${searchOpt} like CONCAT('%',#{words},'%')
			</otherwise>
		</choose>
	</sql>
	
	<select id="getBoardList" resultType="boardvo">
		SELECT 
		id,
		member_id,
		boardCode,
		boardName,
		boardColor,
		boardListTemplate,
		boardContentTemplate,
		reg_date
		FROM tb_board
		<include refid="includeList"></include> 
		ORDER BY id desc
		Limit #{pageIndex},#{pagePer}
	</select>
	<select id="getBoardCount" resultType="int">
		SELECT count(id) FROM tb_board
		<include refid="includeList"></include> 
	</select>
	<select id="getBoardDetail" resultType="boardvo">
		SELECT * FROM tb_board WHERE id=#{id}
	</select>
	<insert id="setBoard">
		INSERT INTO tb_board SET 
		boardCode=#{boardCode},
		boardName=#{boardName},
		member_id=#{member_id},
		boardColor=#{boardColor},
		boardContentTemplate=#{boardContentTemplate},
		boardListTemplate=#{boardListTemplate}
	</insert>
	<insert id="createTblArticle" parameterType="String">
		<!-- 동적으로 생성되는 게시판 -->
		${sql}
		<!-- CREATE는 여기 넣을수 없으므로 전문을 java의 DAO(repository)sql문을 작성해서 가져옴 -->
	</insert>
	<insert id="createTblComment" parameterType="String">
		<!-- 동적으로 생성되는 게시판  댓글-->
		${sql}
	</insert>
	
	<update id="updateBoard">
		UPDATE tb_board SET
			boardCode=#{boardCode},
			boardName=#{boardName},
			boardColor=#{boardColor},
			boardContentTemplate=#{boardContentTemplate},
			boardListTemplate=#{boardListTemplate}
		WHERE id=#{id}
		
	</update>
	<!-- 게시판 삭제 + 생성된 테이블 drop -->
	<delete id="deleteBoard">
		DELETE FROM tb_board
		WHERE boardCode=#{boardCode}
	</delete>
	<update id="deleteTblArticle" parameterType="String">
		${sql}
	</update>
	<update id="deleteTblComment" parameterType="String">
		${sql}
	</update>
	
	<select id="getBoardCode" resultType="int">
		Select count(id) from tb_board WHERE boardCode=#{boardCode}
	</select>

</mapper>