<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.CategoryMapper">
	<select id="getCateList" resultType="categoryvo">
		SELECT 
			id,
			parent_id,
			dept,
			cate_img,
			title,
			reg_date
		FROM
			tb_category
		ORDER BY id DESC
	</select>
	<select id="getCount" resultType="int">
	
	</select>
	<select id="getCateTitle" resultType="string">
		SELECT 
			title
		FROM
			tb_category
		Where id=#{id}
	
	</select>
	<select id="getCateChk" resultType="int">
		SELECT 
			count(id)
		FROM
			tb_category
		WHERE title=#{title}
		
	</select>
	<insert id="setCate">
		INSERT INTO tb_category SET
			cate_img=#{cate_img},
			title=#{title}
	</insert>
	<update id="updateCate">
		UPDATE SET tb_category
			parent_id=#{parent_id},
			dept=#{dept},
			title=#{title},
			cate_img=#{cate_img}
		WHERE id=#{id}
	</update>
	<delete id="deleteCate">
		DELETE FROM tb_category
		WHERE id=#{id}
	</delete>
</mapper>