<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MarkerInfoMapper">
	<select id="getAll" resultType="markerinfovo">
		SELECT 
			id,
			audit_id,
			marker_name,
			marker_img,
			marker_email,
			marker_phone,
			marker_kakao_id,
			marker_kakao_url,
			marker_home_page_url,
			marker_facebook_url,
			marker_twiter_url,
			marker_instagram_url,
			business_type,
			bankbook_img,
			reg_date
		FROM
			tb_maker_info
		ORDER BY id DESC
	</select>
	<select id="getMarkerList" resultType="markerinfovo">
		SELECT * FROM tb_maker_info WHERE id = #{id} order by id desc LIMIT 1
	
	</select>
	<select id="getMakerID" resultType="int">
		SELECT id FROM tb_maker_info WHERE audit_id=#{audit_id} order by id desc LIMIT 1
	</select>
	<select id="getMakerDetailAudit" resultType="markerinfovo">
		SELECT 
			id,
			marker_name,
			marker_img,
			marker_email,
			marker_phone,
			marker_kakao_id,
			marker_kakao_url,
			marker_home_page_url,
			marker_facebook_url,
			marker_twiter_url,
			marker_instagram_url,
			business_type,
			bankbook_img
		FROM tb_maker_info WHERE audit_id=#{audit_id}
	</select>
	<select id="getMakerDetail" resultType="markerinfovo">
		SELECT 
			id,
			audit_id,
			marker_name,
			marker_img,
			marker_email,
			marker_phone,
			marker_kakao_id,
			marker_kakao_url,
			marker_home_page_url,
			marker_facebook_url,
			marker_twiter_url,
			marker_instagram_url,
			business_type,
			bankbook_img,
			reg_date
		FROM tb_maker_info WHERE id=#{id}
	</select>
	<insert id="setMaker">
	
		INSERT INTO tb_maker_info SET
		
			audit_id=#{audit_id},
			marker_name 	= #{marker_name},
			marker_img 		= #{marker_img},
			marker_email	= #{marker_email},
			marker_phone	= #{marker_phone},
			marker_kakao_id = #{marker_kakao_id},
			marker_kakao_url		= #{marker_kakao_url},
			marker_home_page_url	= #{marker_home_page_url},
			marker_facebook_url 	= #{marker_facebook_url},
			marker_twiter_url 		= #{marker_twiter_url},
			marker_instagram_url 	= #{marker_instagram_url},
			business_type 			= #{business_type},
			bankbook_img 			= #{bankbook_img}
	
	
	</insert>
<!-- 	<if test="img_dir != null">  img_dir= #{img_dir}, </if> 이렇게 사용해서 수정시에 사진이 있으면 그대로 쓰고 바꿀려면 바꿀수 있음 -->
	<update id="updateMaker">
		UPDATE tb_maker_info SET 
		    <if test="marker_img != null">
		        marker_img=#{marker_img},
		    </if>
		    <if test="bankbook_img != null">
		        bankbook_img=#{bankbook_img},
		    </if>
			marker_name=#{marker_name},
			marker_email=#{marker_email},
			marker_phone=#{marker_phone},
			marker_kakao_id=#{marker_kakao_id},
			marker_kakao_url=#{marker_kakao_url},
			marker_home_page_url=#{marker_home_page_url},
			marker_facebook_url=#{marker_facebook_url},
			marker_twiter_url=#{marker_twiter_url},
			marker_instagram_url=#{marker_instagram_url},
			business_type=#{business_type}
		WHERE id=#{id}
	</update>
	<delete id="deleteItem">
		DELETE FROM tb_maker_info
		WHERE id=#{id}
	</delete>
</mapper>