<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.Member">
	<sql id="getInclude">
		WHERE
		<choose>
			<when test="searchOpt == 'all'">
				uname like CONCAT('%',#{words},'%') or uid like CONCAT('%',#{words},'%') or uemail like CONCAT('%',#{words},'%') 
			</when>
			<otherwise>
				${searchOpt} like CONCAT('%',#{words},'%')
			</otherwise>
		</choose>
	</sql>
	<select id="getAll" resultType="membervo">
		SELECT 
			id,
			uid,
			upassword,
			sns_type,
			sns_id,
			uname,
			utel,
			uemail,
			ugroup,
			uimg,
			status,
			reg_date
		FROM tb_member
		ORDER BY id DESC
	</select>
	
	<select id="getlogin" resultType="membervo">
		SELECT 
				id, uid, uname , ugroup, uimg
		FROM tb_member
				
		WHERE uid = #{uid} AND upassword = #{upassword}
	</select>
<!-- 	회원정보 중복 체크 -->
	<select id="memberIdChk" resultType="int">
		SELECT COUNT(id) FROM tb_member WHERE uid = #{uid}
	</select>
	
	
	
	
	
<!-- 	아이디 수정 -->
	<update id="updateNameMember">
		UPDATE tb_member 
		SET 
		uname= #{uname} ,
		utel= #{utel} ,
		uemail= #{uemail} ,
		uimg= #{uimg}
		WHERE id = #{id}
	</update>

<!-- 여기까지 연습함 -->

	<select id="getIdPwdChk" resultType="int">
		SELECT 
				count(id)
		FROM tb_member
		WHERE uid = #{uid} AND upassword = #{upassword}
	</select>
	<select id="getMemberCount" resultType="int">
		SELECT 
			count(id)
		FROM tb_member
		<include refid="getInclude"></include>
	</select>
	<select id="getMemberList" resultType="membervo">
		SELECT 
			id,
			uid,
			uname,
			utel,
			uemail,
			ugroup,
			uimg,
			status,
			reg_date
		FROM tb_member
		<include refid="getInclude"></include>
		ORDER BY id DESC
		Limit ${pageStart},${pagePer}
	
	</select>
	<select id="getMemberDetail" resultType="membervo">
		SELECT 
			id,
			uid,
			upassword,
			sns_type,
			sns_id,
			uname,
			utel,
			uemail,
			ugroup,
			uimg,
			status,
			reg_date
		FROM tb_member
		WHERE id =#{id}
	</select>
	<select id="getMemberFindID" resultType="String">
		SELECT uid FROM tb_member WHERE uname=#{uname} AND uemail=#{uemail}
	</select>
	<select id="getMemberFindPWD" resultType="int">
		SELECT id FROM tb_member WHERE uid=#{uid} AND uemail=#{uemail}
	</select>
<!-- 	//아이디 중복체크 -->
	<select id="getMemberID" resultType="int">
		SELECT count(id) FROM tb_member WHERE uid=#{uid}
	</select>
	<select id="getOne" resultType="membervo">
		SELECT 
			id, uid, uname
		FROM tb_member		
		WHERE 	
			uid = #{uid} AND upassword = #{upassword}
	</select>
	<insert id="setItem">
		INSERT INTO tb_member
		SET
			uid = #{uid},
			upassword = #{upassword},
			uname = #{uname},
			uemail = #{uemail}
	</insert>
	<update id="updateMember">
		UPDATE tb_member SET
			uname 		= #{uname},
			utel 		= #{utel},
			uemail 		= #{uemail},
			ugroup 		= #{ugroup},
			uimg 		= #{uimg},
			status 		= #{status}
		WHERE id 		= #{id}
	</update>
	<update id="updateAuthMember">
		UPDATE tb_member SET
			ugroup 		= #{ugroup}
		WHERE id 		= #{id}
	</update>
	<update id="updatePwdMember">
		UPDATE tb_member SET
			upassword 		= #{upassword}
		WHERE id 		= #{id}
	</update>
	<update id="updateMemberTel">
		UPDATE tb_member SET
			utel = #{utel}
		WHERE id = #{id}
	</update>
	<delete id="deleteMember">
		DELETE FROM tb_member
		WHERE id=#{id}
	</delete>
</mapper>