<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MemberAddrMapper">
	<select id="getAddrList" resultType="memberaddrvo">
		SELECT 
			id,
			member_id,
			addr1,
			addr2,
			addr3,
			addr4,
			ship_name,
			ship_tel,
			ship_desc,
			reg_date
		FROM
			tb_member_addr
		WHERE ${member_id}=#{member_id}
		ORDER BY id DESC
	</select>
	<select id="getAddrCount" resultType="int">
		SELECT 
			count(id)
		FROM
			tb_member_addr
		WHERE ${member_id}=#{member_id}
		ORDER BY id DESC
	</select>
	<select id="getAddrDetail" resultType="memberaddrvo">
		SELECT 
			id,
			member_id,
			addr1,
			addr2,
			addr3,
			addr4,
			ship_name,
			ship_tel,
			ship_desc,
			reg_date
		FROM
			tb_member_addr
		WHERE ${member_id}=#{member_id}
		ORDER BY id DESC
	</select>
	<select id="getAddrFirst" resultType="memberaddrvo">
		SELECT 
			id,
			member_id,
			addr1,
			addr2,
			addr3,
			addr4,
			ship_name,
			ship_tel,
			ship_desc,
			reg_date
		FROM
			tb_member_addr
		WHERE ${member_id}=#{member_id}
		ORDER BY id ASE LIMIT 1
	</select>
	<insert id="setAddr">
		INSERT INTO tb_member_addr
		SET
			member_id=#{member_id},
			addr1=#{addr1},
			addr2=#{addr2},
			addr3=#{addr3},
			addr4=#{addr4},
			ship_name=#{ship_name},
			ship_tel=#{ship_tel},
			ship_desc=#{ship_desc}
	</insert>
	<update id="updateAddr">
		UPDATE SET tb_member_addr
			addr1=#{addr1},
			addr2=#{addr2},
			addr3=#{addr3},
			addr4=#{addr4},
			ship_name=#{ship_name},
			ship_tel=#{ship_tel},
			ship_desc=#{ship_desc}
		WHERE id=#{id}

	</update>
	<delete id="deleteAddr">
		DELETE FROM tb_member_addr
		WHERE id=#{id}
	</delete>
</mapper>