<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MemberAddr">
	<select id="getAll" resultType="memberaddrvo">
		SELECT 
			id,
			member_id,
			addr1,
			addr2,
			addr3,
			ship_name,
			ship_tel,
			ship_desc,
			reg_date
		FROM
			tb_member_addr
		ORDER BY id DESC
	</select>
	<select id="getCount" resultType="int">
	
	</select>
	<select id="getList" resultType="memberaddrvo">
	
	</select>
	<select id="getOne" resultType="memberaddrvo">
	
	</select>
	<insert id="setItem">
		INSERT INTO tb_member_addr
		SET
			id=#{id},
			member_id=#{member_id},
			addr1=#{addr1},
			addr2=#{addr2},
			addr3=#{addr3},
			ship_name=#{ship_name},
			ship_tel=#{ship_tel},
			ship_desc=#{ship_desc},
			reg_date=#{reg_date}
	</insert>
	<update id="updateItem">
		UPDATE SET tb_member_addr
			id=#{id},
			member_id=#{member_id},
			addr1=#{addr1},
			addr2=#{addr2},
			addr3=#{addr3},
			ship_name=#{ship_name},
			ship_tel=#{ship_tel},
			ship_desc=#{ship_desc},
			reg_date=#{reg_date}
		WHERE id=#{id}

	</update>
	<delete id="deleteItem">
		DELETE FROM tb_member_addr
		WHERE id=#{id}
	</delete>
</mapper>