<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MenuMapper">
	<select id="getAll" resultType="menuvo">
		SELECT 
			id,
			parent_id,
			dept,
			group_id,
			morder,
			title,
			url,
			reg_date
		FROM
			tb_menu
		ORDER BY id DESC
	</select>
	<select id="getCount" resultType="int">
	
	</select>
	<select id="getList" resultType="menuvo">
		SELECT 
			id,
			parent_id,
			dept,
			group_id,
			morder,
			title,
			url,
			reg_date
		FROM
			tb_menu
		ORDER BY group_id,parent_id
	
	</select>
	<select id="getMenuList" resultType="menuvo">
		WITH RECURSIVE CTE AS (
		    SELECT 
		        id,
		        parent_id,
		        dept,
		        group_id,
		        morder,
		        title,
		        url,
		        reg_date,
		        CAST(CONCAT(IFNULL(morder, 0), parent_id) AS CHAR(99)) x
		    FROM tb_menu x
		    where parent_id=0
		    UNION ALL
		        SELECT
		            a.id,
		            a.parent_id,
		            a.dept,
		            a.group_id,
		            a.morder,
		            a.title,
		            a.url,
		            a.reg_date, 
		            CONCAT(b.x, '-', CONCAT(IFNULL(a.morder, 0), a.parent_id)) x
		        FROM tb_menu a
		        INNER JOIN CTE b ON a.parent_id = b.id 
		)
		select * from CTE order by x
	</select>
	<select id="getOne" resultType="menuvo">
	
	</select>
	<select id="getGroupMax" resultType="int">
		SELECT IFNULL(max(morder),0)+1 FROM tb_menu 
		where
		dept=#{dept}
		<if test ="group_id gte 1">
			AND group_id =#{group_id} AND parent_id = #{id}
		</if>
	</select>
	<select id="getMenuDetail" resultType="menuvo">
		SELECT 
			id,
			parent_id,
			dept,
			group_id,
			morder,
			title,
			url,
			reg_date
		FROM tb_menu 
		where
		id=#{id}
	</select>
	<insert id="setMenu">
		<selectKey  resultType="int" keyProperty="group_id" order="BEFORE">
			<if test ="group_id lt 1">
				SELECT IFNULL(max(group_id),0)+1 FROM tb_menu
			</if>
			<if test ="group_id gte 1">
				SELECT #{group_id} as group_id
			</if>
		</selectKey>
		
		INSERT INTO tb_menu 
		SET
			parent_id=#{parent_id},
			dept=#{dept},
			morder=#{morder},
			group_id=#{group_id},
			title=#{title},
			url=#{url}
	</insert>
	<update id="setMenuModify">
		UPDATE tb_menu SET
			morder=#{morder},
			title=#{title},
			url=#{url}
		WHERE id=#{id}
	</update>
	<delete id="deleteMenu">
		DELETE FROM tb_menu
		WHERE id=#{id} or parent_id = #{id}
	</delete>
</mapper>