<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.OrderMapper">
	<select id="getAll" resultType="ordervo">
		SELECT 
			id,
			member_id,
			product_id,
			price,
			donation,
			delivery_fee,
			payment,
			account_num,
			account_name,
			account_bank,
			pay_type,
			receiver_addr1,
			receiver_addr2,
			receiver_addr3,
			receiver_tel,
			receiver_name,
			receiver_etc,
			state,
			delivery_id,
			delivery_number,
			reg_date
		FROM
			tb_order
		ORDER BY id DESC
	</select>
	<select id="getOrderCount" resultType="int">
		SELECT 
			count(id)
		FROM
			tb_order
		WHERE member_id = #{member_id}
	</select>
	<select id="getOrderList" resultType="ordervo">
		SELECT 
			id,
			member_id,
			product_id,
			price,
			donation,
			delivery_fee,
			payment,
			account_num,
			account_name,
			account_bank,
			pay_type,
			receiver_addr1,
			receiver_addr2,
			receiver_addr3,
			receiver_tel,
			receiver_name,
			receiver_etc,
			state,
			delivery_id,
			delivery_number,
			reg_date
		FROM
			tb_order
		WHERE member_id = #{member_id}
		ORDER BY id DESC
	</select>
	<select id="getOrderMyList" resultType="map">
		SELECT 
			o.id,
			o.price,
			o.pay_type,
			o.state,
			o.delivery_id,
			o.delivery_number,
			DATE_FORMAT(o.reg_date,'%Y-%m-%d') as reg_date,
			p.title,
			p.status,
			c.title as cate_title,
			m.marker_name
		FROM
			tb_order as o 
			JOIN tb_product as p ON o.product_id = p.id 
			JOIN tb_category as c ON p.category_id = c.id
			JOIN tb_maker_info as m ON m.audit_id = p.audit_id
		WHERE o.member_id = #{member_id}
		ORDER BY o.id DESC
	</select>
	<select id="getOrderProList" resultType="map">
		SELECT 
			o.id,
			o.price,
			o.donation,
			o.delivery_fee,
			o.payment,
			o.pay_type,
			o.receiver_addr1,
			o.receiver_addr2,
			o.receiver_addr3,
			o.receiver_tel,
			o.receiver_name,
			o.receiver_etc,
			o.state,
			o.delivery_id,
			o.delivery_number,
			DATE_FORMAT(o.reg_date,'%Y-%m-%d') as reg_date,
		FROM
			tb_order as o
		WHERE o.product_id = #{product_id}
		ORDER BY o.id DESC
	</select>
	<select id="getOrderTotal" resultType="map">
		SELECT 
			count(id) as count,
			sum(price + donation) as sum
		FROM
			tb_order
		WHERE product_id = #{product_id}
		ORDER BY id DESC
	</select>
	<select id="getOrderDetail" resultType="ordervo">
		SELECT 
			id,
			member_id,
			product_id,
			price,
			donation,
			delivery_fee,
			payment,
			account_num,
			account_name,
			account_bank,
			pay_type,
			receiver_addr1,
			receiver_addr2,
			receiver_addr3,
			receiver_tel,
			receiver_name,
			receiver_etc,
			state,
			delivery_id,
			delivery_number,
			reg_date
		FROM
			tb_order
		WHERE id = #{id}
	</select>
	<insert id="setOrder">
		INSERT INTO tb_order SET
			member_id=#{member_id},
			product_id=#{product_id},
			price=#{price},
			donation=#{donation},
			delivery_fee=#{delivery_fee},
			payment=#{payment},
			account_num=#{account_num},
			account_name=#{account_name},
			account_bank=#{account_bank},
			pay_type=1,
			receiver_addr1=#{receiver_addr1},
			receiver_addr2=#{receiver_addr2},
			receiver_addr3=#{receiver_addr3},
			receiver_tel=#{receiver_tel},
			receiver_name=#{receiver_name},
			receiver_etc=#{receiver_etc},
			state=1
	</insert>
	<update id="updateOrder">
		UPDATE SET tb_order
			state=#{state},
			delivery_id=#{delivery_id},
			delivery_number=#{delivery_number}
		WHERE id=#{id}
	</update>
	<update id="updateOrderStatus">
		UPDATE tb_order SET 
			state=#{state}
		WHERE id=#{id}
	</update>
	<update id="updateOrderStatusAuto">
		UPDATE tb_order SET 
			state=#{state}
		WHERE product_id=#{product_id}
	</update>
	<delete id="deleteOrder">
		DELETE FROM tb_order
		WHERE id=#{id}
	</delete>
</mapper>