<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.OrderDetailMapper">
	<select id="getAll" resultType="orderdetailvo">
		SELECT 
		id,
		order_id,
		option_id,
		option_name,
		amount,
		price,
		reg_date
		FROM
			tb_order_detail
		ORDER BY id DESC
	</select>
	<select id="getCount" resultType="int">
	
	</select>
	<select id="getOrderDetailList" resultType="orderdetailvo">
		SELECT 
		id,
		order_id,
		option_id,
		option_name,
		amount,
		price,
		reg_date
		FROM
			tb_order_detail
		WHERE order_id=#{order_id}
		ORDER BY id DESC
	</select>
	<insert id="setOrderDetail">
		<selectKey resultType="int" keyProperty="order_id" order="BEFORE">
		 	SELECT id as order_id FROM tb_order WHERE product_id=#{product_id} AND member_id=#{member_id} ORDER BY id DESC LIMIT 1
		</selectKey>
		INSERT INTO tb_order_detail
		SET
			order_id=#{order_id},
			option_id=#{option_id},
			option_name=#{option_name},
			amount=#{amount},
			price=#{price}
	</insert>
	<delete id="deleteOrderDetailL">
		DELETE FROM tb_order_detail
		WHERE order_id=#{order_id}
	</delete>
</mapper>