<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ProductMapper">
	<select id="getAll" resultType="productvo">
		SELECT 
		id,
		member_id,
		category_id,
		audit_id,
		status,
		title,
		sub_title,
		video_chk,
		img_upload_dir,
		main_img,
		img,
		content,
		price,
		start_date,
		end_date,
		keyword,
		reg_date
		FROM tb_product
		ORDER BY id DESC

	</select>
	<select id="getCount" resultType="int">
	
	</select>
	<select id="getProList" resultType="productvo">
		SELECT * FROM WHERE id = #{id} order by id desc LIMIT 1
	
	</select>
	<select id="getOne" resultType="productvo">
	
	</select>
	<select id="getProductId" resultType="int">
		SELECT 
		id
		FROM tb_product
		WHERE audit_id=#{audit_id}
		
	</select>
	<select id="getProductDetailAudit" resultType="productvo">
		SELECT id,
			member_id,
			category_id,
			audit_id,
			status,
			title,
			sub_title,
			video_chk,
			img_upload_dir,
			main_img,
			img,
			content,
			price,
			start_date,
			end_date,
			keyword,
			reg_date
		FROM tb_product
		WHERE audit_id=#{audit_id}
		
	</select>
	<select id="getProductDetail" resultType="productvo">
		SELECT id,
			member_id,
			category_id,
			audit_id,
			status,
			title,
			sub_title,
			video_chk,
			img_upload_dir,
			main_img,
			img,
			content,
			price,
			start_date,
			end_date,
			keyword,
			reg_date
		FROM tb_product
		WHERE id=#{id}
		
	</select>
	
	<insert id="setProduct">
		insert into tb_product SET
		member_id=#{member_id},
		category_id=#{category_id},
		audit_id=#{audit_id},
		title=#{title},
		sub_title=#{sub_title},
		video_chk=#{video_chk},
		img_upload_dir=#{img_upload_dir},
		main_img=#{main_img},
		img=#{img},
		content=#{content},
		price=#{price},
		start_date=#{start_date},
		end_date=#{end_date},
		keyword=#{keyword}
	</insert>
	
	<update id="updateIPro">
		update tb_product SET
			category_id=#{category_id},
			title=#{title},
			sub_title=#{sub_title},
			video_chk=#{video_chk},
			img_upload_dir=#{img_upload_dir},
			main_img=#{main_img},
			img=#{img},
			content=#{content},
			price=#{price},
			start_date=#{start_date},
			end_date=#{end_date},
			keyword=#{keyword}
			where 
			id=#{id}
	</update>
	
	<delete id="deleteItem">
		DELETE FROM tb_product
		WHERE id = #{id}
	</delete>
</mapper>