<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ProductOptionMapper">
	<select id="getAll" resultType="productoptionvo">
		SELECT 
			id,            
			product_id,    
			title,         
			description,   
			market_price,  
			price,         
			stock,      
			delevery_chk,   
			delevery_price,
			option_type,   
			option_kind,   
			delivery_date, 
			reg_date
		FROM tb_product_option
		ORDER BY id DESC
	</select>
	<select id="getCount" resultType="int">
	
	</select>
	<select id="getList" resultType="productoptionvo">
	
	</select>
	<select id="getOne" resultType="productoptionvo">
	
	</select>
	<select id="getProIdCount" resultType="int">
		SELECT 
			count(id)
		FROM tb_product_option
		WHERE product_id = #{product_id}
	
	</select>
	<select id="getOptionDetail" resultType="productoptionvo">
		SELECT 
			id,            
			product_id,    
			title,         
			description,   
			market_price,  
			price,         
			stock,      
			delevery_chk,   
			delevery_price,
			option_type,   
			option_kind,   
			delivery_date, 
			reg_date
		FROM tb_product_option
		WHERE id = #{id}
	</select>
	<select id="getOptionProductList" resultType="productoptionvo">
		SELECT 
			id,            
			product_id,    
			title,         
			description,   
			market_price,  
			price,         
			stock,      
			delevery_chk,   
			delevery_price,
			option_type,   
			option_kind,   
			delivery_date, 
			reg_date
		FROM tb_product_option
		WHERE product_id = #{product_id}
	</select>
	<insert id="setProOption">
		INSERT INTO tb_product_option
		SET       
			product_id = #{product_id},    
			title = #{title},         
			description = #{description},   
			market_price = #{market_price},  
			price  = #{price },        
			stock = #{stock },     
			delevery_chk=#{delevery_chk},    
			delevery_price = #{delevery_price},
			option_type  = #{option_type},  
			option_kind  = #{option_kind},  
			delivery_date = #{delivery_date}
	</insert>
	<update id="updateProOption">
		UPDATE tb_product_option SET       
			title = #{title},         
			description = #{description},   
			market_price = #{market_price},  
			price  = #{price },        
			stock = #{stock },   
			delevery_chk=#{delevery_chk},        
			delevery_price = #{delevery_price},
			option_type  = #{option_type},  
			option_kind  = #{option_kind},  
			delivery_date = #{delivery_date}
		WHERE id = #{id}
	</update>
	<delete id="deleteProOption">
		DELETE FROM tb_product_option
		WHERE id = #{id}
	</delete>
</mapper>