<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ProductCommentMapper">
	<select id="getAll" resultType="productcommentvo">
		SELECT 
			id,           
			member_id,    
			product_id,   
			parent_id,    
			member_imgae, 
			member_status,
			member_userid,
			comment,      
			reg_date 
		FROM tb_product_comment
		ORDER BY id DESC
	</select>
	<select id="getProCommentCount" resultType="int">
		SELECT 
			count(id) 
		FROM tb_product_comment
		WHERE product_id=#{product_id}
		ORDER BY id DESC
	
	</select>
	<select id="getProCommentList" resultType="productcommentvo">
		WITH RECURSIVE CTE AS (
		    SELECT 
                id,           
                member_id,    
                product_id,   
                parent_id,    
                member_imgae, 
                member_status,
                member_userid,
                comment,      
                reg_date ,
                id as group_id,
		        CAST(CONCAT(if(parent_id=0,id,parent_id ), parent_id) AS CHAR(99)) x
		    FROM tb_product_comment x
		    where parent_id=0
		    UNION ALL
		        SELECT
                    a.id,           
                    a.member_id,    
                    a.product_id,   
                    a.parent_id,    
                    a.member_imgae, 
                    a.member_status,
                    a.member_userid,
                    a.comment,      
                    a.reg_date ,     
                    if(a.parent_id=0, a.id,a.parent_id) as group_id ,
		            CONCAT(b.x, '-', CONCAT(if(a.parent_id=0, a.id,a.parent_id), a.parent_id)) x
		        FROM tb_product_comment a
		        INNER JOIN CTE b ON a.parent_id = b.id 
		)
		select * from
        CTE
		WHERE product_id=#{product_id}
		order by group_id desc, x asc
	</select>
	<select id="getOne" resultType="productcommentvo">
	
	</select>
	<insert id="setProComment">
		INSERT INTO tb_product_comment
			SET    
				member_id=#{member_id}, 
				product_id=#{product_id}, 
				parent_id=#{parent_id},   
				member_imgae=#{member_imgae},
				member_status=#{member_status},
				member_userid=#{member_userid},
				comment=#{comment}
	</insert>
	<update id="updateProComment">
		UPDATE tb_product_comment SET
			comment=#{comment}
		WHERE id=#{id}
	</update>
	<delete id="deleteProComment">
		DELETE FROM tb_product_comment
		WHERE id=#{id}
	</delete>
</mapper>