@charset 'utf-8';
.preview-img{
    max-width: 100px;
    max-height: 100px;
}
.cateTag{
    background-color: tomato;
    padding: 6px 10px;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    color: #fff;
}