@charset 'utf-8';

.term-nav{
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    z-index: 99;
    transition: 0.3s;
}
.term-nav li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
}
.term-menu{
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    line-height: 60px;
}
.term-menu li.on{
    position: relative;
}
.term-menu li.on::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0px;
    height: 4px;
    background-color: var(--var-main-color);
}